In [3]:
import pandas as pd

import sqlite3
import pandas as pd
# Create your connection.

In [4]:
cnx = sqlite3.connect('app.db')

df = pd.read_sql_query("SELECT * FROM Questions", cnx)

In [5]:
df

,q_id,ques,a,b,c,d,ans
0,1,Who is the first Prime Minister of India?,Indira Gandhi,Jawaharlal Nehru,Narendra Modi,Rajiv Gandhi,Jawaharlal Nehru
1,2,The first Women External Affair Minister of In...,Sushma Swaraj,Jayalalitha,Pratibha Patil,Indira Gandhi,Indira Gandhi
2,3,Who among the following known as Pocket Hercules?,Mike Tyson,Manohar Aich,Manotosh Roy,Muhammad Ali,Manohar Aich